# Core Django
Django==6.0.2
djangorestframework==3.16.1
django-cors-headers==4.9.0

# WebSocket support
channels==4.3.2
channels_redis==4.2.1
daphne==4.2.1

# Database
dj-database-url==2.3.0
psycopg2-binary==2.9.10

# Static files & Images
whitenoise==6.8.2
Pillow==11.1.0
